<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="/templates/js/crud.js"></script>

</head>
<body class="container">
        <br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create new a Blog
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create new a Blog</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="add">
                            <div>
                                <label>Title</label>
                                <input type="text" id="title" name="title">
                            </div>
                            <div>
                                <label>content</label>
                                <input type="text" id="content" name="content">
                            </div>
                            <div>
                                <label>Category</label>
                                <select id="op1" name="categorys">
                                    <option> cate </option>
                                </select>
                            </div>
                            <div>
                                <label>Author</label>
                                <select id="op2" name="authors">
                                    <option> Tác giả </option>
                                </select>
                            </div>
                            <div>
                                <input type="submit" id="addNew" value="Submit">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Category</th>
                <th>Author</th>
                <th>Cover</th>
                <th>TT</th>
            </tr>
        </table>
        <button id="chuyen" name="pageNumber" value="1">one</button>
        <br>

        <div class="noidung-pt"></div>
        <ul class="phantrang" style="display: inline-block">
            <li><button id="phantrang1">1</button></li>
            <li><button id="phantrang2">2</button></li>
            <li><button id="phantrang3">3</button></li>
            <li><button id="phantrang4">4</button></li>
            <li><button id="phantrang5">5</button></li>
        </ul>

</body>
</html>