<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create</h1>

    <form enctype="multipart/form-data"
        th:object="${blog}" method="POST">
        Title:
        <input type="text" th:field="*{title}" />
        <br/>
        content:
        <input type="text" th:field="*{content}" />
        <br/>
        Cover:
        <input type="file" th:field="*{cover}" />
        <br>
        Category:
        <select name="category">
            <option>chọn thể loại</option>
            <th:block th:each="x : ${category}">
                <option th:value="${x.id}" th:text="${x.name}"></option>
            </th:block>
<!--             <option th:each="x : ${category}" th:value="${x.id}" th:text="${x.name}"></option>-->
        </select>
        <br/>
        <input type="submit" value="create" />
        <br>
    </form>
</body>
</html>